@import '../_variables';

.title {
  &--center {
    margin: 80px auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $white;
    padding-left: 25px;
    font-size: 17px;
    font-family: $font-sharp-bold;
    line-height: 1.6;

    &--black {
      color: #000000;
      display: none;
      text-align: center;
    }

    &--sm {
      font-size: 18px;
      display: none;

      & span {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 1120px) {
  .title {

    &__title {
      font-size: 25px;

      &--display-none {
        display: none;
      }

      &--black {
        font-size: 53px;
      }

      &--sm {
        display: initial;
        font-size: 20px;

        & span {
          font-size: 45px;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .title {

    &__title {

      &--display-none {
        display: initial;
      }
    }
  }
}

@media screen and (max-width: 570px) {
  .title {

    &__title {
      font-size: 18px;

      &--black {
        font-size: 44px;
      }

      &--sm {
        display: initial;
        font-size: 18px;

        & span {
          font-size: 44px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .title {

    &__title {
      font-size: 13px;

      &--black {
        font-size: 37px;
      }

      &--sm {
        display: initial;
        font-size: 18px;

        & span {
          font-size: 37px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .title {

    &__title {
      font-size: 16px;

      &--black {
        font-size: 35px;
      }

      &--sm {
        display: initial;
        font-size: 17px;

        & span {
          font-size: 35px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .title {

      &__title {
        padding-left: 16px;
      }
  }
}